html { 
  /* new code added after searching to use a stock photo as a bg rather than colour, set to not repeat and be centered into the window and clip off any unused picture rather than creating scrollbars.*/
  background: url(images/port-bg.jpg) no-repeat center center fixed;
  background-size: cover;
  /*to make text white with a slight black border to stand out from the background*/
  color : white;
  text-shadow : -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

header, footer {
  background-color:  #8c8b8b52;
  text-align : center;
}

main {
    text-align : center;
}

/*to round the square profile picture*/
img {
  border-radius : 50%;
}

/*next two styles to give font styles to the page*/
h1, h2, h3 {
  font-family : Georgia, "Times New Roman", Serif;
  
}

p, ul, ol, a {
  font-family : Helvetica, Arial, sans-serif;
  font-size : 18px 
}

/*to create a more dynamic horizontal break that doesn't span the full screen*/
hr {
  border-top: 3px double black;
  width : 25%;
  margin: 0 auto;
  height : 2px
}

main div {
  width : 400px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  background-color: #8c8b8b52;)
}

/*to pull the bullet points in on the lists and center them straight*/
.points {
  text-align : center;
  display: inline-block
}

/*stlye for differents points of interaction of the links*/
a:link {color: rgb(51, 255, 0);}
a:visited {color: aqua (0, 0, 0);}
a:hover {color: rgb(223, 252, 96);}
a:active {color: blue;}

